absl-py==2.1.0
anyio==4.4.0
astor==0.8.1
astunparse==1.6.3
beautifulsoup4==4.12.3
certifi==2024.7.4
cffi==1.16.0
charset-normalizer==3.3.2
contourpy==1.2.1
cryptography==42.0.8
cycler==0.12.1
Cython==3.0.10
decorator==5.1.1
fire==0.6.0
flatbuffers==24.3.25
fonttools==4.53.1
gast==0.6.0
google-pasta==0.2.0
grpcio==1.64.1
h11==0.14.0
h5py==3.11.0
httpcore==1.0.5
httpx==0.27.0
idna==3.7
imageio==2.34.2
imgaug==0.4.0
iopath==0.1.10
keras==3.4.1
kiwisolver==1.4.5
layoutparser @ file:///home/pc-nerd/playing_ground/test_ocr/paddleocr/layoutparser-0.0.0-py3-none-any.whl#sha256=0e3026045cd88f791012cc8b52bbd9c1c3b14f161ec3c2855e52aff3a14167b8
lazy_loader==0.4
libclang==18.1.1
lmdb==1.5.1
lxml==5.2.2
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.1
mdurl==0.1.2
ml-dtypes==0.3.2
namex==0.0.8
networkx==3.3
numpy==1.26.4
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
opt-einsum==3.3.0
optree==0.12.1
packaging==24.1
paddleocr==2.8.0
paddlepaddle==2.6.1
pandas==2.2.2
pdf2image==1.17.0
pdfminer.six==20231228
pdfplumber==0.11.2
pillow==10.4.0
portalocker==2.10.0
protobuf==4.25.3
pyclipper==1.3.0.post5
pycparser==2.22
Pygments==2.18.0
pyparsing==3.1.2
pypdfium2==4.30.0
python-dateutil==2.9.0.post0
python-docx==1.1.2
pytz==2024.1
PyYAML==6.0.1
rapidfuzz==3.9.4
requests==2.32.3
rich==13.7.1
scikit-image==0.24.0
scipy==1.14.0
setuptools==70.3.0
shapely==2.0.4
six==1.16.0
sniffio==1.3.1
soupsieve==2.5
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.2
termcolor==2.4.0
tifffile==2024.7.2
tqdm==4.66.4
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
Werkzeug==3.0.3
wheel==0.43.0
wrapt==1.16.0
